<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <style>
        nav{
            background-color: #215f70;
        }
        li{
            color: white !important;
        }
    </style>
    <title>To Do List Application</title>
</head>
<body>
    <div class="container-fluid">

        <nav class="navbar navbar-expand-lg">
            <div class="container">
              <a class="navbar-brand text-white" href="/">RKH Digital</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link text-white" href="/">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav" style="margin-left: auto !important;">
                    <li class="nav-item">
                      <a class="nav-link text-white" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="/signup">Sign up</a>
                    </li>
                </ul>
              </div>
            </div>
        </nav>

        {% comment %} <h5 class="alert alert-warning">Pending Tasks</h5>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Learn Django
                    </label>
                </div>
                <h5 class="alert alert-success mt-3">Completed Tasks</h5>
                <div class="form-check" >
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" disabled>
                    <label class="form-check-label" for="flexCheckDefault1" disabled>
                      Learn Django
                    </label>
                </div>
        </div> {% endcomment %}
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/popper.js"></script>
    </div>
</body>
</html>